.title {
    horizontal-align: center;

}

button {
    horizontal-align: center;

}

.message {
    font-size: 20;
    color: #284848;
    horizontal-align: center;
}

/*Page{*/
    /*background-image: url("~/images/4tBGu8D.jpg");*/
/*}*/

.big {
    font-size: 30px;
}
Page{
    background-image: url("~/images/background.jpg");
}
ActionBar {
    background-color: #afd9ee;
    color: black;
    height: 40;
}
.delete{
    height: 30;
}
.title-share {
    horizontal-align: center;
    font-size: 30px;
}
.description-share {
    padding: 10px;
    font-size: 20px;
}
.map-share {
    horizontal-align: center;
    width: 300px;
    height: 400px;
}
.index-page-image{
    margin: 30px;
}
.index-page-button{
    horizontal-align: center;
    background-image: url("~/images/button.png");
    width: 150px;
    height: 150px;
}