.title {
    horizontal-align: center;
}

button {
    horizontal-align: center;

}

.message {
    font-size: 20;
    color: #284848;
    horizontal-align: center;
}

<<<<<<< HEAD
/*Page{*/
    /*background-image: url("~/images/4tBGu8D.jpg");*/
/*}*/

.big {
    font-size: 30px;
=======
Page{
    background-color: white;
}
ActionBar {
    background-color: #afd9ee;
    color: black;
    height: 40;
>>>>>>> origin/master
}